@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', saserif;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header Section */
#header{
   position: fixed;
   z-index: 1000; 
   left: 0;
   top: 0;
   width: 100vw;
   height: auto;
}
#header .header {
    min-height: 10vh;
    background-color: rgba(31, 30, 30, 0.24)
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position:absolute;
    background-color: rgb(31, 30, 30);
    width: 100vh;
    height:100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}
#header .nav-list ul.active {
    left: 50%;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.04);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    margin-top: 1px;
    margin-left: 1100%;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}

/* Header Section */


/* Welcome Section  */
#welcome{
    background-image: url(car.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#welcome::after {
    content: '';
    position:absolute;
    left:0;
    top: 0;
    height:100%;
    width:100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#h1-1{
    display: block;
    width: fit-content;
    font-size: 4.5rem;
    position:relative;
    margin-bottom: 0.5%;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#h1-1 span {
    position: absolute;
    top:0;
    left:0; 
    height:100%;
    width:0;
    background-color: #6982c1;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#h1-2{
    display: block;
    width: fit-content;
    font-size: 5.5rem;
    position:relative;
    margin-bottom: 1%;
    color: transparent;
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 1.5s;
}
#h1-2 span {
    position: absolute;
    top:0;
    left:0; 
    height:100%;
    width:0;
    background-color: #6982c1;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#p1{
    display: block;
    width: fit-content;
    font-size: 2rem;
    position:relative;
    margin-bottom: 1%;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#p1 span {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color: #6982c1;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#p2{
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    position:relative;
    color: transparent;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1%;
    text-align: center;
    animation: text_reveal 1s ease forwards;
    animation-delay: 2s;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#p2 span {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
}

/* Welcome Section  */


/* About Us Section */
#about-us{

}
#about-us .about-us{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#about-us .about-us-title{
    font-size:4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#about-us .about-us-top p{
    font-size:1.4rem;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#about-us .about-us-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#about-us .about-us-item{
    flex-basis: 100%;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding: 120px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    z-index: 1;
    position: relative;
    color: white;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 18px 0 #0000002c;
}
#about-us .about-us-item::after {
    content: '';
    position:absolute;
    left:0;
    top: 0;
    height:100%;
    width:100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
#about-us .about-us-item h2{
    font-size: 2.4rem;
}
#item1 {
    background-image: url(item1.webp);
}
#item2 {
    background-image: url(item2.jpeg);
}
#item3 {
    background-image: url(item3.jpeg);
}
/* About Us Section */


/* Keyframes */
@keyframes text_reveal_box {
    50%{
        width:100%;
        left:0;
    }
    100%{
        width:0;
        left:100%
    }
}
@keyframes text_reveal {
    100%{
        color:white;
    }
}
@keyframes text_reveal_name {
    100%{
        color:#9dbcfb;
    }
}
/* Keyframes */


